.course-type-form{
display: flex;
flex-direction: column;
}
.course-type{
    margin-top: 15px;
    margin-bottom: 15px;
}
mat-radio-buttom
{
    margin-right: 5px;
}
.row-height
{
    margin-top: 20px;
}
.highlight-date
{
    background: red;
}
