
<form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="Login()">
<mat-card style="text-align:center;">
    <mat-card-header>
        <h3>Login Page</h3>
    </mat-card-header>
    <mat-card-content>
<div class="row">
    <div class="col-sm-4">
        <mat-form-field>
            <mat-label>Login Id</mat-label>
            <input type="text" matInput formControlName="LoginId">
         </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="Password">
         </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
       <button mat-raised-button color="primary" [disabled]="!this.loginForm.valid">Login</button>
       
    </div>
</div>
   <a routerLink="/Registration">New Registration</a>
 

    </mat-card-content>
</mat-card>
</form>