<div class="create-course-panel data-form">
<h2 class="title">Create New Course</h2>
<mat-horizontal-stepper class="mat-elevation-z5" labelPosition="bottom" [linear]="true">

    <mat-step errorMessage="course details in error">
   <ng-template matStepLabel="1"></ng-template>
   <app-course-step1></app-course-step1>
   <div class="stepper-buttons">
<button mat-raised-button color="primary" matStepperNext>Add Course Lesson</button>
   </div>
    </mat-step>
    <mat-step errorMessage="course lession in error">
        <ng-template matStepLabel="2">
            Course Lession
        </ng-template>
        <app-course-step2></app-course-step2>
        <div class="stepper-buttons">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button color="accent">Create Course</button>
               </div>
    </mat-step>
</mat-horizontal-stepper>

</div>